- var menu = [{ 'title': 'sessions', 'url': '/#sessions' }, { 'title': 'workshops', 'url': '/workshops' }, { 'title': 'locations', 'url': '/#locations' }, { 'title': 'diversity', 'url': '/#diversity' }, { 'title': 'sponsors', 'url': '/#sponsors' }]
- var text = {}
- text.intro1 = '1 day conference'
- text.intro2 = 'run twice'
- text.tag = '#ffconf'
- text.location1 = 'Duke of York\'s'
- text.location2 = 'Brighton, UK'
- text.date = 'November 10 & 11'

- var line = 'Tickets @ £160+VAT will be sold on the 15th and 22nd July at 11am BST.'
- var button = 'On sale soon'
- var buy = false
- var buttonLink = false

if config.phase == 1
  if config.soldout.conference
    if config.soldout.workshops
      - line = 'Tickets for this phase sold out. More go on sale 22nd July.'
      - button = 'Sold Out'
      - buy = false
    else
      - line = 'Workshop (+conf pass) tickets available now. Next batch on sale 22nd July.'
      - button = 'Buy Tickets'
      - buy = true
  else
    - line = 'Conference & workshop (+conf pass) tickets available to buy!'
    - button = 'Buy Tickets'
    - buy = true
if config.phase >= 2 && config.phase < 4
  if config.soldout.conference
    if config.soldout.workshops
      - line = 'All tickets for this years\' conference have been sold.'
      - button = 'Sold Out'
      - buy = false
    else
      - line = 'Workshop (+conf pass) available to buy. Last few remaining.'
      - button = 'Buy Tickets'
      - buy = true
  else
    - line = 'Conference & workshop (+conf pass) available now. Last chance batch.'
    - button = 'Buy Tickets'
    - buy = true
if config.phase == 4
    - line = ''
    - buttonLink = 'https://www.youtube.com/playlist?list=PLXmT1r4krsTqrwW2jjXIXuCtFQ-5BIn-s'
    - button = 'Watch Now'
    - buy = false


header#masthead.masthead(role='banner', class='phase-'+config.phase)
  //- if line != ''
  //-   p.tickets-lines= line

  picture.masthead-bg
    source(srcset='/images/bg-header-1500_1x.jpg 1x, /images/bg-header-1500_2x.jpg 2x', media='(min-width: 751px)')
    source(srcset='/images/bg-header-750_1x.jpg 1x, /images/bg-header-750_2x.jpg 2x', media='(min-width: 401px)')
    source(srcset='/images/bg-header-400_1x.jpg 1x, /images/bg-header-400_2x.jpg 2x', media='(max-width: 400px)')
    img(src="/images/bg-header-400_1x.jpg", alt="Photos of previous years attendants")

  div.logo-wrapper
    a.circle.circle1(href='/')
      svg#svg-logo(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 500 500')
        desc
          h1.logo(role='heading', aria-level='1')
            span ffconf 2016
        <circle id="svg-logo-circle" cx="250" cy="250" r="250"></circle><path id="svg-logo-ff" d="M199.81 370.09V239.54h71.75v130.55c0 2.57.93 4.784 2.8 6.65 1.865 1.87 4.08 2.8 6.65 2.8h26.6c2.564 0 4.78-.93 6.65-2.8 1.865-1.866 2.8-4.08 2.8-6.65V239.54h48.65c2.565 0 4.78-.93 6.65-2.8 1.865-1.866 2.8-4.08 2.8-6.65v-23.1c0-2.566-.935-4.78-2.8-6.65-1.87-1.866-4.085-2.8-6.65-2.8h-48.65v-12.25c0-8.4 2.215-14.29 6.65-17.676 4.43-3.38 11.315-5.075 20.65-5.075h24.85c2.565 0 4.78-.93 6.65-2.8 1.865-1.867 2.8-4.08 2.8-6.65v-23.1c0-2.567-.935-4.78-2.8-6.65-1.87-1.867-4.085-2.8-6.65-2.8h-28.35c-22.17 0-39.26 4.783-51.275 14.35-12.02 9.57-18.025 25.2-18.025 46.9v15.75h-71.75v-12.25c0-8.4 2.215-14.29 6.65-17.677 4.43-3.38 11.315-5.075 20.65-5.075h24.85c2.565 0 4.78-.93 6.65-2.8 1.865-1.866 2.8-4.08 2.8-6.65v-23.1c0-2.566-.935-4.78-2.8-6.65-1.87-1.866-4.085-2.8-6.65-2.8h-28.35c-22.17 0-39.26 4.784-51.275 14.35-12.02 9.57-18.025 25.2-18.025 46.9v15.75h-23.1c-2.57 0-4.785.934-6.65 2.8-1.87 1.87-2.8 4.084-2.8 6.65v23.1c0 2.57.93 4.784 2.8 6.65 1.865 1.87 4.08 2.8 6.65 2.8h23.1v130.55c0 2.57.93 4.784 2.8 6.65 1.865 1.87 4.08 2.8 6.65 2.8h26.6c2.565 0 4.78-.93 6.65-2.8 1.865-1.866 2.8-4.08 2.8-6.65z"></path>
    div.circle.circle2
      svg#svg-desc(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 500 500')
        desc
          div.svg-desc-textfallback
            span= text.intro1
            span= text.intro2
            span= text.date
            span= text.location1
            span= text.location2
            span= text.tag
        <circle id="svg-desc-circle" stroke-width="3" cx="250" cy="250" r="248"></circle>
        g.svg-desc-text
          text(x='50%', y='26.5%')= text.intro1
          text(x='50%', y='38.5%')= text.intro2
          text(x='50%', y='50.5%')= text.date
          text(x='50%', y='62.5%')= text.location1
          text(x='50%', y='74.5%')= text.location2
          text(x='50%', y='86.5%')= text.tag

  div.nav-main-wrapper
    nav.nav-main(role='navigation')
      div.tickets-wrapper
        if button != ''
          if buy
            a.button.tickets-button(href=ticketUrl, target='_blank')!= button
          else if buttonLink
            a.button.tickets-button(href=buttonLink, target='_blank')!= button
          else
            span.button.tickets-button!= button
      if config.phase >= 1
        ul.nav-list#nav-list
          each item in menu
            li
              a(href=item.url)=item.title

