doctype
html(id=id)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='description', content=siteDescription)
    meta(name='format-detection', content='telephone=no')
    meta(name='theme-color', content='#00F5C0')

    title= siteTitle

    link(rel='shortcut icon', href='/images/logo-192.png')
    link(rel='icon', sizes='192x192', href='/images/logo-192.png')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='all-the-source', href=source)
    link(rel='author', href='/humans.txt')
    link(rel='manifest', href='/manifest.json')

    <!--[if lt IE 9]>
    script(src='/js/html5shiv.min.js')
    //- link(rel='stylesheet', href='/css/ltie9.css')
    <![endif]-->

    if environment == "production"
      script.
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','#{analytics}','auto');ga('send','pageview');

    script.
      var confDays = [new Date('#{dates[0]}'), new Date('#{dates[1]}')];
      document.documentElement.className += ' yes-js';
      // SVG support
      function supportsSVG() {
        return !! document.createElementNS && !! document.createElementNS('http://www.w3.org/2000/svg','svg').createSVGRect;
      }
      if (!supportsSVG()) {
        document.documentElement.className += ' no-svg';
      }
    
    <!--[if gt IE 8]> -->
    script(src='/js/fonts.js')
    <!-- <![endif]-->

  - var completeDate = moment(dates[0] + ' ' + startTime)

  body

    include /js/formatting
    include /js/markdown

    include /_partials/header

    block content

    div.main-wrapper
      include /_partials/sponsors

      include /_partials/footer

    <!--[if gt IE 8]> -->
    script(src='/js/script.js')
    <!-- <![endif]-->