- var sessionTime = completeDate.clone()
!= partial('/js/_idify')

section.main(role='region', aria-labelledby='sessions')
  h2#sessions.section-title(role='heading', aria-level='2') Sessions
  //- if config.phase < 4
  //-   div.button-wrapper
  //-     if config.phase >= 1
  //-       if config.soldout.conference
  //-         span.button.button-disabled Sold Out
  //-       else
  //-         a.button(href=ticketUrl, target='_blank') Tickets £#{ticketPrice}
  //-           small  + VAT
  //-     else
  //-       span.button.button-disabled Tickets £#{ticketPrice}
  //-         small  + VAT
  ol.sessions-wrapper
    - var totalSessions = 0;
    if config.phase < 3
      //- include wot
    each session, index in public._data.sessions.sessions
      - if (!session.start) {
      -   session.start = sessionTime.format('HH:mm')
      - }
      - sessionTime.add(session.duration, 'minutes')
      - if (!session.end) {
      -   session.end = sessionTime.format('HH:mm')
      - }
      - if (!session.break) totalSessions++;

      if (session.break && config.phase == 3) || !session.break
        li.session-wrapper.sub-hr.js-session(id=idify(session.title), data-date1=dates[0] + ' ' + session.start, data-date2=dates[1] + ' ' + session.start)
          if session.break
            header.break
              h3.schedule-title(role='heading', aria-level='3')= session.title
              div.session-time!=session.start + ' &mdash; ' + session.end
          else
            if config.phase >= 3 && session.speaker.photo
              div.session-speaker-img-wrapper
                div.session-speaker-img(style='background-image:url(/images/speakers/' + session.speaker.photo + ')' title="Blurry picture? Speaker revealed soon!")
            .session-about-wrapper
              header.session-header
                h3.session-title(role='heading', aria-level='3')= session.title
                if config.phase >= 3 && session.speaker.name
                  div.session-speaker-name
                    if false && session.speaker.twitter
                      a(target='_blank', href='https://twitter.com/' + session.speaker.twitter)= session.speaker.name
                    else
                      span= session.speaker.name
                if config.phase == 3
                  div.session-time.session-speaker-time!=session.start + ' &mdash; ' + session.end
                if config.phase == 4
                  if session.slides || session.audio || session.video
                    div.session-links
                      if session.slides
                        a(href=session.slides) Slides
                      if session.audio
                        a(href=session.audio) Audio
                      if session.video
                        a(href=session.video) Video
              div.session-content
                if session.description
                  !=global.marked(session.description)

    //- if totalSessions < 8
    //-   li.session-wrapper.sub-hr.js-session(id='slugMoreToCome')
    //-     h3.more-sessions More Sessions announced soon.

    li.session-wrapper.sub-hr(id='related-blog-posts')
      h3.session-wrapper Related blog posts
      ol.posts
        each post in public._data.posts
          li
            a(href=post.url)= post.title
